html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.42; }

h1, h2, h3, h4, h5, p, ul, li, a {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

li {
  list-style: none; }

.container {
  width: 1060px;
  margin: 0 auto; }

.clearfix::after {
  content: "";
  display: block;
  clear: both; }

.wrapper {
  position: relative;
  overflow: hidden;
  min-height: 100%; }

.empty {
  height: 75px; }

.footer {
  height: 75px;
  margin-top: -75px;
  position: relative; }

* {
  box-sizing: border-box; }
