.breadcrumps {
  margin-top: 40px;
  margin-bottom: 8px; }

.breadcrumps-item {
  display: inline-block;
  vertical-align: middle; }

.breadcrumps-link {
  color: #f9aa42;
  vertical-align: middle;
  text-decoration: underline;
  font-family: OpenSansLight-Italic;
  font-size: 0.875em; }

.breadcrumps-link-active {
  vertical-align: middle;
  text-decoration: none;
  color: #4e4c4c; }
  .breadcrumps-link-active:before {
    content: "/";
    vertical-align: middle;
    display: inline-block;
    padding-right: 5px; }

.servises-title {
  margin-bottom: 37px; }

.servises-title-name {
  font-family: OpenSans-Bold;
  font-size: 2.8125em; }

.servises-list {
  margin-bottom: 21px; }

.servises-item {
  display: inline-block;
  margin-left: 42px;
  margin-bottom: 45px;
  width: 260px;
  vertical-align: top; }

.servises-item:nth-child(3n+1) {
  margin: 0px; }

.servises-item-image {
  margin-right: 2px;
  max-width: 260px;
  max-height: 155px; }

.servises-name {
  padding-top: 20px;
  font-family: OpenSans-Bold;
  font-size: 1.125em; }

.servises-description {
  padding-top: 5px;
  line-height: 21px;
  font-family: OpenSans-Light;
  font-size: 0.875em; }
