.breadcrumps {
	margin-top: rem(40px);
	margin-bottom: rem(8px);
	@include tablets {
		margin-top: 0;
	}
	@include phones {
		margin-left: 20px;
	}
}

.breadcrumps__item {
	display: inline-block;
}

.breadcrumps__link {
	color: #f9aa42;
	vertical-align: bottom;
	text-decoration: underline;
	font: {
		family: OpenSansLight-Italic;
		size: rem(14px);
	}
}

.breadcrumps__link_active {
	text-decoration: none;
	color: #4e4c4c;
	&:before {
		content: "/";
		vertical-align: bottom;
		padding-right: rem(5px);
	}
}