@font-face {
    font-family: "Gora-Free";
    src: url(../fonts/Gora-Free.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: "Open-Sans";
    src: url(../fonts/OpenSans.ttf) format('truetype');
    font-weight: 400;
}