.footer {
	@extend %clearfix;
	background-color: #131415;
	min-height: rem(76px);
	@include phones {
		min-height: 59px;
	}
}

.footer-copyrighting {
	float: left;
	width: 25%;
	@include laptop {
		width: 29%;
	}
	@include tablets {
		width: 44%;
	}
	@include phones {
		width: 100%;
		text-align: center;
	}
}

.author {
	padding: rem(9px) rem(0px);
	@include desktop {
		padding: rem(12px) rem(0px);
	}
}

.author__text {
	color: #efefef;
	@include font(Light,rem(14px));
	@include desktop {
		@include font(Light,rem(12px));
	}
}

.author__link {
	color: $white;
	font-family: OpenSans-Bold;
}

.author__link_underline {
	text-decoration: underline;
}

.footer-logo{
	text-align: center;
	float: left;
	width: 58%;
	@include laptop {
		width: 50%;
	}
	@include tablets {
		width: 20%;
		display: none;
	}
}

.footer-socials {
	padding: rem(10px) rem(0px);
	float: right;
	width: 17%;
	@include laptop {
		width: 21%;
		padding: rem(12px) rem(0px);
	}
	@include tablets {
		width: 36%;
	}
	@include phones {
		display: none;
	}
}

.socials__title {
	margin-bottom: rem(10px);
	color: #efefef;
	@include font(Bold,rem(14px));
	@include desktop {
		@include font(Bold,rem(12px));
	}
}

.socials__item{
	display: inline-block;
	margin-left: rem(10px);
	&:first-child {
		margin-left: 0;
	}
}

.socials__link {
	color: #efefef;
}