.header {
	background-color: #131415;
	min-height: 76px;
	@extend %clearfix;
	@include phones {
		min-height: 59px;
	}
}

.header-left {
	float: left;
	@include phones {
		margin-left: 20px;
	}
}

.logo {
	padding: rem(25px) rem(0px) rem(25px) rem(0px);
}

.logo__link {
	color: $orange;
	font: {
		family: Gora-Free;
		size: rem(18px);
	}
	@include phones {
		font-size: rem(12px);
	}
}

.header-right {
	float: right;
	@include phones {
		margin-right: 20px;
	}
}

.contacts {
	padding: rem(12px) rem(0px);
	text-align: right;
}

.contacts__phone-link {
	color: $white;
	@include font(Bold,rem(21px));
	@include phones {
		@include font(Bold,rem(15px));
	}
}

.contacts__schedule {
	position: relative;
}

.contacts__schedule-link {
	text-decoration: underline;
	color: #b46f14;
	@include font(Bold,rem(14px));
}

.schedule-popup {
	display: none;
	position: absolute;
	top: rem(40px);
	left: rem(8px);
	width: rem(162px);
	border-radius: rem(5px);
	background-color: #f4f4f4;
	z-index: 40;
	padding: rem(19px);
	text-align: left;
}

.schedule-popup:before {
	content: "";
	position: absolute;
	width: rem(16px);
	height: rem(16px);
	background-color: #f4f4f4;
	transform: rotate(45deg);
	bottom: rem(73px);
	left: rem(140px);
	z-index: -1;
}

.contacts__schedule-link:hover +.schedule-popup {
	display: block;
}

.schedule-popup__time {
	@include font(Bold,rem(14px));
	color: $orange;
	margin-bottom: rem(5px);
}

.schedule-popup__lunch {
	@include font(Light,rem(14px));
}