.main-pages {
	@extend %clearfix;
}

.main-content{
	float: left;
	width: 83%;
	@include tablets {
		float: none;
		width: 100%;
	}
}

.about-company {
	background: {
		image: url(../img/main_background.jpg);
		size: cover;
		position: center;
	}
}

.about-company__bg {
	background-color: rgba(0,0,0,.5);
	height: rem(355px);
	@include phones {
		height: 185px;
	}
}

.about-company__title {
	padding: rem(143px) rem(65px);
	color: $white;
	text-transform: uppercase;
	@include font(Bold,rem(49px));
	@include phones {
		padding: 79px 20px;
		font-size: 20px;
	}
}

.info-content {
	width: rem(700px);
	@include laptop {
		width: 100%;
	}
	@include phones {
		width: 90%;
		margin: 0 auto;
	}
}

.info-text {
	line-height: 29px;
	@include font(Light,rem(18px));
	p {
		padding-top: rem(21px);
	}
	strong {
		font-family: OpenSans-Bold;
	}
}

.info-text__list {
	margin-top: rem(7px);
	margin-bottom: rem(22px);
	li {
		list-style-type: square;
		margin-left: rem(30px);
		margin-bottom: rem(5px);
		padding-left: rem(10px);
	}
}

.info-block {
	background-color: black;
	height: rem(144px);
	width: 100%;
	margin-bottom: rem(55px);
	@include tablets {
		height: auto;
		margin-bottom: rem(25px);
	}
	p {
		margin-left: rem(30px);
		padding: rem(10px) rem(0px);
		line-height: 29px;
		color: $white;
		@include font(Light,rem(18px));
		@include tablets {
			line-height: 1.42;
			@include font(Light,rem(17px));
			padding: rem(10px) rem(15px);
			margin-left: 0;
		}
	}
	strong {
		font-family: OpenSans-Bold;
	}
}

.partners {
	margin-bottom: rem(37px);
	@include phones {
		text-align: center;
		margin-bottom: 0;
	}
}

.partners__title {
	text-transform: uppercase;
	@include font(Bold,rem(49px));
}

.partners__list {
	margin-top: rem(32px);
	@include tablets {
		padding: 0 40px 0 40px;
	}
}

.partners__item {
	text-align: center;	
	width: 161px;
	height: 80px;
	display: inline-block;
	margin-left: rem(104px);
	&:nth-child(3n+1) {
		margin-left: 0;
	}
	@include laptop {
		margin-left: rem(70px);
	}
	@include tablets {
		&:nth-child(4) {
			margin-left: 30px;
		}
		&:nth-child(2n+1) {
			margin-left: 0px;
		}
		margin-left: 30px;
	}
	@include phones {
		margin-left: 0;
		&:nth-child(4) {
			margin-left: 0px;
		}
	}
}

.partners__pic {
	filter: grayscale(100%);
	&:hover {
		filter: none;
		transition: 2s;
	}
	@include phones {
		vertical-align: middle;
	}
}