.main-pages {
	@extend %clearfix;
}

.main-content{
	float: left;
	width: 83%;
}

.about-company {
	background: {
		image: url(../img/main_background.jpg);
		size: cover;
		position: center;
	}
}

.about-company__bg {
	background-color: rgba(0,0,0,.5);
	height: 355px;
}

.about-company__title {
	padding: 143px 65px;
	color: $white;
	text-transform: uppercase;
	@include font(Bold,49px);
}

.info-content {
	width: 700px;
}

.info-text {
	line-height: 29px;
	@include font(Light,18px);
	p {
		padding-top: 21px;
	}
	strong {
		font-family: OpenSans-Bold;
	}
}

.info-text__list {
	margin-top: 7px;
	margin-bottom: 22px;
	li {
		list-style-type: square;
		margin-left: 30px;
		margin-bottom: 5px;
		padding-left: 10px;
	}
}

.info-block {
	background-color: black;
	height: 144px;
	width: 100%;
	margin-bottom: 55px;
	p {
		margin-left: 30px;
		padding: 10px 0px;
		line-height: 29px;
		color: $white;
		@include font(Light,18px);
	}
	strong {
		font-family: OpenSans-Bold;
	}
}

.partners {
	margin-bottom: 37px;
}

.partners__title {
	text-transform: uppercase;
	@include font(Bold,49px);
}

.partners__list {
	margin-top: 32px;
}

.partners__item {
	text-align: center;	
	width: 160px;
	height: 80px;
	display: inline-block;
	margin-left: 105px;
	&:nth-child(3n+1) {
		margin-left: 0;
	}
}

.partners__pic {
	filter: grayscale(100%);
	&:hover {
		filter: none;
		transition: 2s;
	}
}