.main-pages {
	@extend %clearfix;
}

.sidebar {
	float: left;
	width: 17%;
}

.main-content{
	float: left;
	width: 83%;
}

.menu-list {
	padding-left: 0px;
	&:first-child {
		margin-top: 43px;
	}
}

.menu-item {
	margin-bottom: 28px;
}

.menu-link {
	padding-left: 37px;
	color: #f9aa42;
	text-transform: uppercase;
	@include font(Bold,0.75em);
	&:hover {
		color: black;
	}
}

.menu-link__current {
	padding-left: 37px;
	color: #131415;
	text-transform: uppercase;
	@include font(Bold,0.75em);
}

.about-company {
	background: {
		image: url(../img/main_background.jpg);
		size: cover;
		position: center;
	}
}

.about-company__bg {
	background-color: rgba(0,0,0,.5);
	height: 355px;
}

.title {
	padding: 143px 65px;
	color: $white;
	text-transform: uppercase;
	@include font(Bold,3.0625em);
}

.info-content {
	width: 700px;
}

.info-text {
	line-height: 1.70;
	@include font(Light,1.125em);
}

.info-paragraph__top {
	margin-top: 22px;
}

.info-paragraph {
	margin-top: 15px;
}

.info-paragraph__bold {
	font-family: OpenSans-Bold;
}

.info-text-list {
	margin-top: 7px;
	margin-bottom: 22px;
}

.info-text-item {
	list-style-type: square;
	margin-left: 30px;
	margin-bottom: 5px;
	padding-left: 10px;
}

.info-block {
	background-color: black;
	height: 144px;
	width: 100%;
}

.info-block-text {
	margin-left: 30px;
	padding: 10px 0px;
	line-height: 1.74;
	color: $white;
	@include font(Light,1.125em);
}

.info-block__bold {
	font-family: OpenSans-Bold;
}

.partners {
	margin: 55px 0px 37px 0px;
}

.partners-title {
	text-transform: uppercase;
	@include font(Bold,3.0625em);
}

.partners-list {
	margin-top: 32px;
}

.partners-item {
	text-align: center;	
	width: 160px;
	height: 80px;
	display: inline-block;
	margin-left: 105px;
	&:nth-child(3n+1) {
		margin-left: 0;
	}
}

.partners-pic {
	filter: grayscale(100%);
	&:hover {
		filter: none;
		transition: 2s;
	}
}