.reviews-title {
	margin-bottom: 28px;
}

.reviews-title-name {
	@include font(Bold,3.0625em);
}

.reviews-block {
	margin-bottom: 33px;
}

.reviews-item {
	padding-bottom: 27px;
	margin-bottom: 25px;
	border-bottom: 2px solid #f5f5f5;
	&:last-child {
		border-bottom: none;
	}
}

.reviews-photo {
	width: 160px;
	height: 160px;
	float: left;
	background: #f5f5f5 url(../img/jpg/reviews-nophoto.png) center no-repeat;
	border-radius: 50%;
	overflow: hidden;
}

.reviews-body {
	padding-left: 20px;
	float: left;
	width: 700px;
}

.reviews-date {
	margin-bottom: 10px;
	@include font(Light,0.875em);
}

.reviews-name {
	margin-bottom: 10px;
	@include font(Bold,1.125em);
}

.reviews-text {
	line-height: 1.67;
	@include font(Light,1.125em);
}

.page-selection {
	padding-left: 220px;
	margin-bottom: 75px;
}

.page-selection-text {
	@include font(Light,0.875em);
}

.page-selection__list {
	display: inline-block;
}

.page-selection__item {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

.page-selection__link {
	@include font(Bold,0.875em);
	color: black;
	display: block;
	width: 25px;
	height: 25px;
	&:hover {
		background-color: black;
		color: $orange;
		border-radius: 5px;
	}
}

.link-pic {
	background: url(../img/icon/prev-but.png) center no-repeat;
	text-indent: -99999px;
	&:hover {
		background: url(../img/icon/prev-but-hover.png) center no-repeat;
	}
}

.link-pic2 {
	background: url(../img/icon/next-but.png) center no-repeat;
	text-indent: -99999px;
	&:hover {
		background: url(../img/icon/next-but-hover.png) center no-repeat;
	}
}

.reviews-form {
	margin-bottom: 70px;
	width: 700px;
	background-color: #f5f5f5;
	padding: 50px 70px 50px 70px;
}

.reviews-form__title {
	@include font(Bold,3.0625em);
}

.form-field-left {
	float: left;
	width: 270px;
}

.form-field-right {
	float: right;
	width: 270px;
}

.form-field__name {
	display: inline-block;
	margin-bottom: 10px;
	@include font(Light,0.875em);
}

.form-field__input {
	border: 2px solid transparent;
	width: 270px;
	height: 45px;
	padding: 10px;
	&:focus {
		outline: none;
		border: 2px solid $orange;
		border-radius: 5px;
	}
	&::placeholder {
		font-family: sans-serif;
		font-size: 100%;
		line-height: 1.15;
	}
}

.form-field__textarea {
	border: 2px solid transparent;
	width: 560px;
	height: 90px;
	margin-bottom: 20px;
	resize: none;
	outline: none;
	padding: 10px;
	&:focus {
		border: 2px solid $orange;
		border-radius: 5px;
	}
	&::placeholder {
		font-family: sans-serif;
		font-size: 100%;
		line-height: 1.15;
	}
}

.form-field-text {
	margin-top: 20px;
	display: inline-block;
}

.form-reviews__photo {
	float: left;
	display: block;
}

.form-field__photo {
	display: block;
	margin-bottom: 10px;
	@include font(Light,0.875em);
}

.main-addfeed__value {
  display: none;
}
.main-addfeed__label-value {
  position: relative;
  cursor: pointer;
  margin: 0px 10px 0px 30px;
  font-family: OpenSans-Light;
 }

.main-addfeed__label-value:after {
  position: absolute;
  left: -30px;
  content: '';
  width: 20px;
  height: 20px;
  border: 1px solid #cacaca;
  border-radius: 50%;
}
.main-addfeed__value:checked +.main-addfeed__label-value:before {
  position: absolute;
  left: -23px;
  top: 7px;
  content: '';
  width: 8px;
  height: 8px;
  background-color: $orange;
  border-radius: 50%;
  border: none;
}
.main-addfeed__value:checked +.main-addfeed__label-value:after {
  border: 1px solid $orange;
}
.main-addfeed__value:checked +.main-addfeed__label-value {
  color: $orange;
}

.reviews-button {
	float: right;
	min-width: 125px;
	min-height: 45px;
	background-color: #1c1f1d;
	color: #f0f0f0;
	border-radius: 5px;
	border: none;
	text-transform: uppercase;
	cursor: pointer;
	@include font(Bold,0.75em);
}