.reviews-title {
	margin-bottom: rem(28px);
	@include phones {
		text-align: center;
		margin-bottom: 15px;
	}
}

.reviews-title__name {
	@include font(Bold,rem(49px));
	@include phones {
		font-size: 30px;
	}
}

.reviews-block {
	margin-bottom: rem(33px);
	@include phones {
		margin-bottom: 0;
	}
}

.reviews-block__item {
	@extend %clearfix;
	padding-bottom: rem(27px);
	margin-bottom: rem(25px);
	border-bottom: 2px solid #f5f5f5;
	&:last-child {
		border-bottom: none;
		@include phones {
			margin-bottom: 0;
		}
	}
}

.reviews-block__photo {
	width: rem(160px);
	height: rem(160px);
	float: left;
	background: #f5f5f5 url(../img/jpg/reviews-nophoto.png) center no-repeat;
	border-radius: 50%;
	overflow: hidden;
	@include tablets {
		float: none;
		margin-left: 35%;
		width: rem(140px);
		height: rem(140px);
	}
}

.reviews-body {
	padding-left: rem(20px);
	float: left;
	width: rem(700px);
	@include desktop {
		width: rem(645px);
	}
	@include laptop {
		width: rem(504px);
	}
	@include tablets {
		float: none;
	}
	@include phones {
		width: 298px;
		padding-left: 0;
		margin: 0 auto;
	}
}

.reviews-body__date {
	margin-bottom: rem(10px);
	@include font(Light,rem(14px));
}

.reviews-body__name {
	margin-bottom: rem(10px);
	@include font(Bold,rem(18px));
}

.reviews-body__text {
	line-height: 1.67;
	@include font(Light,rem(18px));
	@include phones {
		font-size: 12px;
	}
}

.page-selection {
	padding-left: rem(220px);
	margin-bottom: rem(75px);
	@include tablets {
		padding-left: rem(80px);
	}
	@include phones {
		padding-left: 0;
		text-align: center;
		margin-bottom: 20px;
	}
}

.page-selection__text {
	@include font(Light,rem(14px));
	@include phones {
		display: block;
	}
}

.page-selection__list {
	display: inline-block;
}

.page-selection__item {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

.page-selection__link {
	@include font(Bold,rem(14px));
	color: black;
	display: block;
	width: rem(25px);
	height: rem(25px);
	&:hover {
		background-color: black;
		color: $orange;
		border-radius: rem(5px);
	}
}

.page-selection__pic {
	background: url(../img/icon/prev-but.png) center no-repeat;
	text-indent: -99999px;
	&:hover {
		background: url(../img/icon/prev-but-hover.png) center no-repeat;
	}
}

.page-selection__pic2 {
	background: url(../img/icon/next-but.png) center no-repeat;
	text-indent: -99999px;
	&:hover {
		background: url(../img/icon/next-but-hover.png) center no-repeat;
	}
}

.reviews-form {
	@extend %clearfix;
	margin-bottom: rem(70px);
	width: rem(700px);
	background-color: #f5f5f5;
	padding: rem(50px) rem(70px) rem(50px) rem(70px);
	@include phablets {
		padding: rem(40px) rem(30px) rem(40px) rem(30px);
		width: rem(665px);
	}
	@include tablets {
		width: rem(500px);
		padding: rem(30px) rem(30px) rem(30px) rem(30px);
	}
	@include phones {
		width: 303px;
		margin-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
	}
}

.reviews-form__title {
	@include font(Bold,rem(49px));
	@include tablets {
		@include font(Bold,rem(40px));
	}
	@include phones {
		font-size: 25px;
		margin-bottom: rem(20px);
	}
}

.form-field-left {
	float: left;
	width: rem(270px);
	@include tablets {
		width: rem(200px);
	}
	@include phones {
		float: none;
		margin-bottom: rem(20px);
	}
}

.form-field-right {
	float: right;
	width: rem(270px);
	@include tablets {
		width: rem(200px);
	}
	@include phones {
		float: none;
	}
}

.form-field__name {
	display: inline-block;
	margin-bottom: rem(10px);
	@include font(Light,rem(14px));
}

.form-field__input {
	border: 2px solid transparent;
	width: rem(270px);
	height: rem(45px);
	padding: rem(10px);
	&:focus {
		outline: none;
		border: 2px solid $orange;
		border-radius: rem(5px);
	}
	&::placeholder {
		font-family: sans-serif;
		font-size: 100%;
		line-height: 1.15;
	}
	@include tablets {
		width: rem(200px);
	}
}

.form-field__textarea {
	border: 2px solid transparent;
	width: rem(560px);
	height: rem(90px);
	margin-bottom: rem(20px);
	resize: none;
	outline: none;
	padding: rem(10px);
	&:focus {
		border: 2px solid $orange;
		border-radius: rem(5px);
	}
	&::placeholder {
		font-family: sans-serif;
		font-size: 100%;
		line-height: 1.15;
	}
	@include tablets {
		width: rem(440px);
	}
	@include phones {
		width: 254px;
	}
}

.form-field-text {
	margin-top: rem(20px);
	display: inline-block;
}

.reviews-form__photo {
	float: left;
	height: rem(50px);
	@include phones {
		float: none;
		margin-bottom: rem(20px);
	}
}

.form-field__photo {
	display: block;
	@include font(Light,rem(14px));
}

.main-addfeed__value {
  display: none;
}

.main-addfeed__label-value {
  cursor: pointer;
  display: inline-block;
  margin: rem(3px) 0 0 rem(10px);
  font-family: OpenSans-Light;
 }

.main-addfeed__label-value:before {
  position: relative;
  display: inline-block; 
  top: rem(4px);
  margin-right: rem(5px);
  content: '';
  width: rem(20px);
  height: rem(20px);
  border: 1px solid #cacaca;
  border-radius: 50%;
}

.main-addfeed__value:checked +.main-addfeed__label-value:after {
  content: '';
  position: relative;
  left: rem(7px);
  bottom:rem( 16px);
  display: block;
  width: rem(8px);
  height: rem(8px);
  background: $orange no-repeat;
  border-radius: 50%;
}

.main-addfeed__value:checked +.main-addfeed__label-value:before {
  border: 1px solid $orange;
}

.main-addfeed__value:checked +.main-addfeed__label-value {
  color: $orange;
}

.reviews-form__button {
	float: right;
	min-width: rem(125px);
	min-height: rem(45px);
	background-color: #1c1f1d;
	color: #f0f0f0;
	border-radius: rem(5px);
	border: none;
	text-transform: uppercase;
	cursor: pointer;
	@include font(Bold,rem(12px));
	@include phones {
		float: none;
	}
}