.servises-title {
	margin-bottom: 37px;
}

.servises-title__name {
	@include font(Bold,45px);
}

.servises-block__list {
	margin-bottom: 21px;
}

.servises-block__item {
	display: inline-block;
	margin-left: 42px;
	margin-bottom: 45px;
	width: 260px;
	vertical-align: top;
}
.servises-block__item:nth-child(3n+1) {
	margin: 0px;
}

.servises-block__image {
	margin-right: 2px;
	max-width: 260px;
	max-height: 155px;
}

.servises-block__name {
	padding-top: 20px;
	@include font(Bold,18px);
}

.servises-block__description {
	padding-top: 5px;
	line-height: 21px;
	@include font(Light,14px);
}
