.sprite {
    position: relative;
}

.sprite:before {
    content: "";
    background: url(../img/nav-sprit.png) bottom no-repeat;
    position: absolute;
    left: 0;
}

.sprite-nav-feed-icon:before {
    width: 21px;
    height: 19px;
    background-position: -5px -5px;
}

.sprite-nav-feed-icon-active:before {
    width: 21px;
    height: 19px;
    background-position: -36px -5px;
}

.sprite-nav-feed-icon-active-hover:hover:before {
    width: 21px;
    height: 19px;
    background-position: -36px -5px;
}

.sprite-nav-home-icon:before {
    width: 21px;
    height: 19px;
    background-position: -5px -31px;
}

.sprite-nav-home-icon-active:before {
    width: 21px;
    height: 19px;
    background-position: -34px -31px;
}

.sprite-nav-home-icon-active-hover:hover:before {
    width: 21px;
    height: 19px;
    background-position: -34px -31px;
}

.sprite-nav-service-icon:before {
    width: 21px;
    height: 19px;
    background-position: -67px -1px;
}

.sprite-nav-service-icon-active:before {
    width: 21px;
    height: 19px;
    background-position: -67px -25px;
}

.sprite-nav-service-icon-active-hover:hover:before {
    width: 21px;
    height: 19px;
    background-position: -67px -25px;
}
